a{
	text-decoration: none;
}
.centered{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.random_galery{
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 35px; 

}

.card{
	width: 250px;
	height: 250px;

}


.card-body{
	max-height: 100px;
	width: 220px;
	padding: 15px;
	overflow: auto;
	color:#364F6B;
	background-color:#43DDE6 ;
	margin-top: -0.25em;
	border-radius: 0px 0px 15px 15px;

}

.load_more{
	margin-top: 60px;
	width: 500px;
	height: 80px;
	background-color:#FC5185;
	border: 0px;
	border-radius: 90px;
	color:#364F6B;
	font-size: 1.5em;
	margin-bottom: 20px;
}

.add_post{
	width: 250px;
	height: 275px;

}
.add_post img{
	width: 100%;
	height: 100%;
	border-radius: 15px
}
.add_post p{
	position: relative;
	color:#364F6B ;
	font-size:2em;
	bottom: calc( 1em + 28px);
	text-align: center;
}
.add_post a{
	text-decoration: none;

}
.yourMagicDraw{
	width: 250px;
	height: 150px;
	border: none;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 0px 2px 6px #364F6B;
}
/*
palette:
#F0F0F0		grey
#43DDE6		tuqroize
#364F6B		blue
#FC5185		red
*/









